.hamburger-button {
  display: none;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 38px;
  width: 28px;
  height: 20px;
  cursor: pointer;
  z-index: 5;
  transition: all .3s ease;
  border: none;
  background: none;
  padding: 0;
}

.hamburger-button:hover {
  opacity: .8;
}

.hamburger-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 4px;
  border-radius: 5px;
}

.hamburger-button_off > span,
.hamburger-button_off > span::before,
.hamburger-button_off > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all .3s ease;
}

.hamburger-button_off > span::before {
  content: '';
  top: -10px;
}

.hamburger-button_off > span::after {
  content: '';
  top: 10px;
}

.hamburger-button_on > span,
.hamburger-button_on > span::before,
.hamburger-button_on > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(45deg);
  transition: all .3s ease;
}

.hamburger-button_on > span::before {
  content: '';
  top: 0;
  transform: rotate(0);
}

.hamburger-button_on > span::after {
  content: '';
  top: 0;
  transform: rotate(90deg);
}

@media screen and (max-width: 800px) {
  .hamburger-button {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .hamburger-button {
    right: 23px;
    width: 22px;
  }
}
