.about-project {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-project__container {
  max-width: 1280px;
  width: 100%;
  padding: 110px 70px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
}

.about-project__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  width: 100%;
}

.about-project__definition-list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 70px 0 97px;
  gap: 40px;
}

.about-project__definition-item {
  max-width: 550px;
}

.about-project__definition-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about-project__definition-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-top: 26px;
}

.about-project__scheme {
  display: flex;
  width: 100%;
}

.about-project__backend {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  gap: 15px;
}

.about-project__frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.about-project__backend-duration {
  text-align: center;
  width: 100%;
  padding: 9px 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  background-color: #3ddc84;
}

.about-project__frontend-duration {
  text-align: center;
  width: 100%;
  padding: 9px 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background-color: #303030;
}

.about-project__scheme-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #8b8b8b;
}

@media screen and (max-width: 800px) {
  .about-project__container {
    padding: 90px 50px;
  }

  .about-project__definition-description {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 22px;
  }

  .about-project__definition-item {
    max-width: 319px;
  }

  .about-project__definition-list {
    padding-bottom: 81px;
    gap: 30px;
  }

  .about-project__backend {
    width: 21%;
  }

  .about-project__scheme-title {
    font-weight: 400;
  }
}

@media screen and (max-width: 400px) {
  .about-project__container {
    padding: 71px 18px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.04em;
    padding-bottom: 28px;
  }

  .about-project__definition-list {
    flex-direction: column;
    padding: 60px 0 48px;
    gap: 45px;
  }

  .about-project__definition-item {
    max-width: 284px;
  }

  .about-project__definition-title {
    font-size: 18px;
    line-height: 1.22;
  }

  .about-project__definition-description {
    font-size: 11px;
    line-height: 1.45;
    margin-top: 16px;
  }

  .about-project__backend-duration {
    font-size: 11px;
    line-height: 1.18;
    padding: 11px 0;
  }

  .about-project__frontend-duration {
    font-size: 11px;
    line-height: 1.18;
    padding: 11px 0;
  }

  .about-project__scheme-title {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
  }

  .about-project__backend {
    width: 35%;
    gap: 10px;
  }

  .about-project__frontend {
    gap: 10px;
  }
}
